[tool.mypy]
python_version = "3.10"
warn_return_any = true
warn_unused_configs = true
exclude = []
strict = true

[tool.ruff]
target-version = "py310"
exclude = ["test", "venv", "env", ".venv", ".env"]
line-length = 120

[tool.ruff.lint]
# https://docs.astral.sh/ruff/rules/
select = ["A", "E", "F", "G", "I", "N", "T10", "UP", "W", "PL", "NPY", "DOC", "RUF", "PGH004"]
ignore = [
    "I001", # PyCharm uses something else to sort imports
    "RUF012", # Mutable class attributes should be annotated with `typing.ClassVar`
    "UP015", # For open() default "r" parameter
    "N818", # Exception name should be named with an Error suffix
]