aenum==3.1.16
asn1tools==0.167.0
asttokens==3.0.1
bitstruct==8.21.0
black==25.12.0
boltons==25.0.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorlog==6.10.1
contourpy==1.3.2
cycler==0.12.1
dacite==1.9.2
decorator==5.2.1
-e git+ssh://git@github.com/SpaceTime-Vision-Robotics-Laboratory/drone-base.git@02e071c694a7aa39327b8d2b6639c8105ef83194#egg=drone_base&subdirectory=../../../external/drone_base
-e git+ssh://git@github.com/SpaceTime-Vision-Robotics-Laboratory/drone-sim-runner.git@5a63f46b6124739dacd1a5f95852402365c39195#egg=drone_sim_runner&subdirectory=../../../external/drone_sim_runner
evdev==1.9.2
exceptiongroup==1.3.1
executing==2.2.1
filelock==3.20.2
fonttools==4.61.1
fsspec==2025.12.0
future==1.0.0
geographiclib==2.1
geopy==2.4.1
h11==0.16.0
idna==3.11
ipython==8.38.0
jedi==0.19.2
Jinja2==3.1.6
kiwisolver==1.4.9
MarkupSafe==3.0.3
-e git+ssh://git@github.com/SpaceTime-Vision-Robotics-Laboratory/mask-splitter.git@f2cf54cf7b95239715651964f7ccb9ac01bcb6d1#egg=mask_splitter&subdirectory=../../../external/mask_splitter
matplotlib==3.10.8
matplotlib-inline==0.2.1
mpmath==1.3.0
mypy_extensions==1.1.0
networkx==3.4.2
-e git+ssh://git@github.com/SpaceTime-Vision-Robotics-Laboratory/auto-follow.git@46d47f290344eee713fa256034a08c8f6053cea0#egg=nser_ibvs_drone
numpy==2.2.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
opencv-python==4.12.0.88
packaging==25.0
pandas==2.3.3
parrot-olympe==7.7.5
parso==0.8.5
pathspec==1.0.2
pexpect==4.9.0
pillow==12.1.0
platformdirs==4.5.1
polars==1.36.1
polars-runtime-32==1.36.1
prompt_toolkit==3.0.52
protobuf==3.19.4
psutil==7.2.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==22.0.0
pycryptodomex==3.23.0
Pygments==2.19.2
pynput==1.8.1
pyparsing==3.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-xlib==0.33
pytokens==0.3.0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
ruff==0.14.10
scipy==1.15.3
seaborn==0.13.2
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
thop==0.1.1.post2209072238
tomli==2.3.0
torch==2.9.1
torchinfo==1.8.0
torchvision==0.24.1
tqdm==4.67.1
traitlets==5.14.3
triton==3.5.1
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==3.0
ultralytics==8.3.249
ultralytics-thop==2.0.18
urllib3==2.6.3
wcwidth==0.2.14
wsproto==1.3.2
